pandas
requests
langchain
langchain-google-genai
pydantic
google-generativeai
openai
python-dotenv
transformers
sentence-transformers
openpyxl
sentencepiece
unstructured
pymilvus
langchain-milvus
streamlit
langchain_openai
langchain_community